<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HBNB</title>
  </head>
  <body>
    {% if not _id %}
    <h1>States</h1>
    <ul>
      {% for state in main_state|sort(attribute='name') %}
      <li>{{ state.id }}: <b>{{ state.name }}</b></li>
      {% endfor %}
    </ul>
    {% elif main_state %}
    <h1>State: {{ main_state.name }}</h1>
    <h3>Cities:</h3>
    <ul>
      {% for city in main_state.cities|sort(attribute='name') %}
      <li>{{ city.id }}: <b>{{ city.name }}</b></li>
      {% endfor %}
    </ul>
    {% else %}
    <h1>Not found!</h1>
    {% endif %}
  </body>
</html>
